<div class="row">
  <div>
      <h1 class="text-center">Products</h1>
  <ul class="nav">
    <li  class="col-sm-12 col-md-6 col-lg-4" *ngFor="let product of products">
      <ul  class="list-group">
        <li class="list-group-item">
           Name: {{product.name}}  <br />
        </li>
        <div >
          <li class="list-group-item">
            Price: R {{product.totalAmount}} <br />
          </li>
        </div>
        <li class="list-group-item">
          <a class="btn btn-success text-center" (click)="purchaseProduct(product._id)">Purchase</a>
        </li>

      </ul>
    </li>
  </ul>

    </div>
</div>
