<div class="row" *ngIf="user">
    <h1>{{ user.name }}</h1>

    <div class="col-sm-12">
        <ul class="list-group">
          <li class="list-group-item">
            username: {{ user.username }}
          </li>
          <li class="list-group-item">
            email: {{ user.email }}
          </li>
          <li class="list-group-item">
            balance: {{ user.balance }}
          </li>
          <li class="list-group-item">
            reference: {{ user._id }}
          </li>
        </ul>
    </div>
</div>
