<div class="row" *ngIf="user">
    <h1>{{ user.name }}</h1>

    <div class="col-sm-12">
        <ul class="list-group">
          <li class="list-group-item">
            username: {{ user.username }}
          </li>
          <li class="list-group-item">
            email: {{ user.email }}
          </li>
          <li class="list-group-item">
            balance: {{ user.balance }}
          </li>
          <li class="list-group-item">
            reference: {{ user._id }}
          </li>
        </ul>
    </div>
</div>
<div class="row" *ngIf="user">
  <div class="col-sm-12">
  <form (submit)="onTopUpSubmit()">
    <legend>
      Current Balance = R {{user.balance}}
    </legend>
    <div class="form-group">
      <label>Amount</label>
      <input type="number" [(ngModel)]="amount" name="amount" placeholder="Amount to topup" required >
    </div>
    <input type="submit" class="btn btn-success" value="Topup"/>
  </form>
  <hr />
    </div>
</div>

<div class="row">
  <div>
      <h1 class="text-center">Transactions</h1>
  <ul class="nav">
    <li  class="col-sm-12 col-md-6 col-lg-4" *ngFor="let transaction of transactions">
      <ul  class="list-group">
        <li class="list-group-item">
           Type: {{transaction.type}}  <br />
           Id : {{transaction._id}}
        </li>
        <div  *ngIf="transaction.type =='Top up' ">
          <li class="list-group-item">
            Amount: R {{transaction.data.amount}} <br />
            Balance Before: R {{transaction.data.balanceBefore}} <br />
            Balance After: R {{transaction.data.balanceAfter}} <br />
            date: {{transaction.data.date}}
          </li>
        </div>
        <div  *ngIf="!transaction.type =='Top up' ">
          <li class="list-group-item">
            purchases
          </li>
        </div>

      </ul>
    </li>
  </ul>

    </div>
</div>
